PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=ecommerce_db

JWT_SECRET=supersecret
JWT_EXPIRES_IN=7d

OTP_EXPIRY_MINUTES=10
ALLOW_DEV_OTP_RESPONSE=true
